body{
    background-color: hsl(243, 27%, 20%);
    font-family: "Bricolage Grotesque", sans-serif;
    color: white;
}
#unit-dropdown{
    background-color: hsl(240, 6%, 70%);
}
#dropdown-button{
    background-color: hsl(243, 23%, 30%);
}
#search-input{
    background-color: hsl(243, 23%, 24%);
    background-image: url(./assets/images/icon-search.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    color: white;
}
#search-input::placeholder{
    color: white;
}
#search-button{
    background-color: hsl(233, 67%, 56%);
}
#btnn::after{
     content: url(./assets/images/icon-dropdown.svg);
}
.location-temp{
    background: url(./assets/images/bg-today-large.svg);
    background-size:cover;
    border: 0;
    border-radius: 1.5em;
    height: 250px;
}
/*Div that contains the present da weather info*/
#weather-info-div{
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
/*for daily forecast*/
#daily-forecast-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
}
.daily-weather-info-box{
    background-color: hsl(243, 23%, 24%);
    height: 160px;
    border-radius: 0.5em;
    border: 1px hsl(243, 23%, 30%);
}
.weather-info-box{
    background-color: hsl(243, 23%, 24%);
    height: 100px;
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 18px;
}
/*For the hourly forecast div*/
#hourly-forecast-grid{
    background-color: hsl(243, 23%, 24%);
    border-radius: 0.5em;
    max-height: 1200px;
    overflow-y: auto;
}
.hourly-weather-info-box{
    background-color: hsl(243, 23%, 30%);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 8%;
    border-radius: 0.5em;
}
.hourly-weather-info-box>p{
    height: 10%;
}
#day-dropdown{
    width: 100%;
}
.hourly-weather-child-box {
    height: 100%;
}